body,
html {
  width:100%;
  height:100%;
}

body {
  margin:0;
  font-size:100%;
  background: rgba(170, 10, 210, 0.95);
  font-family:'Sentinel A', 'Sentinel B', Georgia, serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {text-align: center;font-weight: 300; margin-top:150px;}
#slider {position: relative;overflow: hidden;margin: 20px auto 0 auto;border-radius: 4px;width: 400px;height: 300px;}
#slider ul {position: relative;margin: 0;padding: 0;height: 200px;list-style: none;left: 0px;}
#slider ul li {position: relative;display: block;float: left;margin: 0;padding: 0;width: 400px;height: 300px;background: #ccc;text-align: center;line-height: 300px;}
a.prev, a.next {position: absolute;top: 40%;z-index: 999;display: block;padding: 4% 3%;width: auto;height: auto;background: #2a2a2a;color: #fff;text-decoration: none;font-weight: 600;font-size: 18px;opacity: 0.8;cursor: pointer;}
a.prev:hover, a.next:hover {opacity: 1;-webkit-transition: all 0.2s ease;}
a.prev {border-radius: 0 2px 2px 0;}
a.next {right: 0;border-radius: 2px 0 0 2px;}

/*.nav{position: relative;margin: 0 auto;width: 300px;}
.nav ul{padding: 0px;margin: 0px auto;width: 34%;background: red;height: 20px;}
.nav ul li{display: inline;float: left;background: grey;margin: 0px 5px;color: transparent;border-radius: 20px;height: 15px;width: 15px;cursor: pointer;}*/


/* .wrapper {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    margin: 0 auto;
    width: 44%;
    overflow: hidden;
    border: 1px solid;
    padding: 12px;
}
.text_slide_img{
	height: 100%;
	float: left;
}
.wrapper li {
  position:absolute;
  left:100%;
  width:100%;
  font-size:16px;
  color:#ffffff;
  top:0;
  cursor:pointer;
  opacity:0;
  transition:left 1.4s, opacity .5s ease;
}

.wrapper li.activeText {
  position:relative;
  left:0;
  opacity:1;
}

.wrapper p.slideLeft {
  left:-100%;
  opacity:0;
}

.wrapper p:before {
  content:"\201C";
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.1em;
  vertical-align: -0.4em;
}

.wrapper p:after {
  content:"\201D";
  font-size: 3em;
  line-height: 0.1em;
  margin-left: 0.1em;
  vertical-align: -0.45em;
}

ul {
  margin:0;
  padding:0;
  text-align:center;
}

ul li {
  list-style:none;
}
.dot {
  width:10px;
  height:10px;
  border-radius:100px;
  background:#7f8c8d;
  display:inline-block;
  text-lign:center;
  cursor:pointer;
}

.active {
  background:#ecf0f1;
} */



