.carousel-wrap {
    margin: 90px auto;
    width: 80%;
    padding: 0 100px;
    position: relative;
  }
  
  /* fix blank or flashing items on carousel */
  .owl-carousel .item {
    position: relative;
    z-index: 100; 
    -webkit-backface-visibility: hidden; 
  }
  
  /* end fix */
  .carousel-wrap .owl-nav {
    display: block !important;
  }
  .owl-nav > div {
    margin-top: 0px;
    position: absolute;
    top: 50%;
    color: #000;
    width: 30px;
    height: 30px;
    background: #f1f3f6;
    text-align: center;
    box-sizing: border-box;
    padding: 4px;
    border-radius: 6px;
  }
  .owl-nav > div:hover {
    background: #999;
    color: #fff;
  }
  
  .owl-nav i {
    font-size: 20px;
  }
  
  .owl-nav .owl-prev {
    right: -40px;
  }
  
  .owl-nav .owl-next {
    right: -75px;
  }
  .carousel-wrap .total-files {
       position: absolute;
       top: 20px;
       left: 6px;
  }
  .carousel-wrap .total-files span {
       font-size: 14px;
       display: block;
  }
  .carousel-wrap .total-files strong {
       padding: 0;
       font-size: 14px;
  }
  .carousel-wrap .box {
      border: 1px solid #DDD;
      border-radius: 4px;
      background: #fff;
      margin-right: 1px;
      cursor: pointer;
  }
  .carousel-wrap .image {
      width: 80px;
      float: left;
  }
  .carousel-wrap .box.playing {
      position: relative;
  }
  .carousel-wrap .box.playing:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      height: 3px;
      background: #f05c1f;
      z-index: 2;
  }
  .carousel-wrap .box.not-playing .image {
      position: relative;
  }
  .carousel-wrap .box.not-playing .image:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 2;
  }
  .carousel-wrap .box.not-playing .image:after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: url(https://cdn0.iconfinder.com/data/icons/google-material-design-3-0/48/ic_play_circle_filled_white_48px-512.png) no-repeat;
      background-size: 32px;
      background-position: center;  
      z-index: 2;
  }
  .carousel-wrap .image img {
      width: 100%;
      height: 68px;
      object-fit: cover;
      display: block;
  }
  .carousel-wrap .detail strong {
      font-size: 12px;
      padding: 0 20px 0 0;
      font-weight: 600;
      max-height: 31px;
      overflow: hidden;
      line-height: 1.4;
  }
  .carousel-wrap .detail {
      font-size: 12px;
      padding: 15px 30px 15px 10px;
      position: relative;
      overflow: hidden;
      display: flex;
      height: 37px;
      align-items: center;
  }
  .carousel-wrap .detail a {
      color: #888;
      position: absolute;
      bottom: 17px;
      right: 5px;
  }
  .carousel-wrap .count {
        background: #f74f00;
      padding: 4px 5px;
      border-radius: 0 0 0 4px;
      font-weight: bold;
      position: absolute;
      color: #fff;
      right: 0;
      top: 0;
  }
  .carousel-wrap .detail a i {
      position: relative;
      z-index: 2;
      top: 2px;
      font-size: 12px !important;
      right: 5px;
  }
  .carousel-wrap .detail a:hover {
      color: #000;
  }
  .carousel-wrap .detail a:after {
      content: "";
      position: absolute;
      top: -5px;
      bottom: 0;
      right: 0;
      width: 25px;
      height: 25px;
      border-radius: 25px;
      background-color: #e6e6e6;
  }